/* COLOR NAME */
/* h1{
    color: tomato;
} */

/* HEX CODE */
/* h1{
    color: #254586;
} */

/* RGB */
/* h1{
    color: rgb(90, 94, 73);
} */

/* BACKGROUND COLOR */
/* COLOR NAME */
/* body{
    background-color: cyan;
    color: red;
} */

/* div{
    background-color: wheat;
    color: red;
} */

/* OPACITY */
/* #div1{
    background-color: green;
    opacity: 0.2;
} */

img{
    opacity: 0.5;
}